body{
    color: white;
    background-color: blueviolet;
    text-align: center;
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;

}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
a{
    color: white;
    text-decoration: none;

}
.whatsapp { 
    
}